{% extends 'posiciones/main.html' %}
{% load static %}
{% block content %}
<div class="body">

    <div role="main" class="main">        

        <div class="container py-4">

            <div class="row">
                <div class="col">
                    <div class="blog-posts single-post">

                        <article class="post post-large blog-single-post border-0 m-0 p-0">
                            <div class="post-date ml-0">
                                <span class="day">04</span>
                                <span class="month">May</span>
                            </div>
                            <div class="post-content ml-0">
                                <h2 class="font-weight-bold">
                                    <a>Desarrollador Web</a>
                                </h2>                                

                                <p></p>                            
                                

                                <div class="post-block mt-4 pt-2 post-author">
                                    <h4 class="mb-3">Acerca de la empresa</h4>
                                    <div class="img-thumbnail img-thumbnail-no-borders d-block pb-3">
                                        <a href="blog-post.html">
                                            <img src="{% static 'img/avatars/avatar.jpg' %}" alt="">
                                        </a>
                                    </div>
                                    <p>
                                        <strong class="name">
                                            <a href="#" class="text-4 pb-2 pt-2 d-block">Cienega Tech</a></strong></p>
                                    <p>Es una empresa especializada en el desarrollo de soluciones web en el ambito empresarial </p>
                                </div>


                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Vendor -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/jquery.appear/jquery.appear.min.js' %}"></script>
<script src="{% static 'vendor/jquery.easing/jquery.easing.min.js' %}"></script>
<script src="{% static 'vendor/jquery.cookie/jquery.cookie.min.js' %}"></script>
<script src="{% static 'master/style-switcher/style.switcher.js' %}" id="styleSwitcherScript" data-base-path=""
    data-skin-src=""></script>
<script src="{% static 'vendor/popper/umd/popper.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendor/common/common.min.js' %}"></script>
<script src="{% static 'vendor/jquery.validation/jquery.validate.min.js' %}"></script>
<script src="{% static 'vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js' %}"></script>
<script src="{% static 'vendor/jquery.gmap/jquery.gmap.min.js' %}"></script>
<script src="{% static 'vendor/jquery.lazyload/jquery.lazyload.min.js' %}"></script>
<script src="{% static 'vendor/isotope/jquery.isotope.min.js' %}"></script>
<script src="{% static 'vendor/owl.carousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'vendor/vide/jquery.vide.min.js' %}"></script>
<script src="{% static 'vendor/vivus/vivus.min.js' %}"></script>

<!-- Theme Base, Components and Settings -->
<script src="{% static 'js/theme.js' %}"></script>


<!-- Theme Initialization Files -->
<script src="{% static 'js/theme.init.js' %}"></script>

{% endblock %}